@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #373737ff;
  color: #faa549ff;
  margin: 0;
}

.main-part {
  margin: 0 auto;
  top: 100px;
  width: 90%;
}

p {
  color: white;
}

a,
span {
  color: #faa549ff;
}

header h1 {
  font-size: 6rem;
  margin-top: 0;
}

.header-title {
  margin: 0 auto;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 100 0 0 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 12.5rem;
  text-decoration: none;
  font-size: 25px;
}

nav li a:hover {
  display: block;
  color: white;
  background-color: rgb(240, 135, 130);
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
}

.active-nav {
  display: block;
  color: black;
  background-color: #faa549ff;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
}

/* quiz page */
.question-card {
  margin: 0 auto;
  background-color: gray;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  width: 90%;
  height: auto;
  justify-content: center;
}

.direction {
  float: right;
}

.question-info {
  display: inline-grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  margin: 10px auto;
}

.question-img {
  width: 250px;
  grid-column: 2/ 3;
  grid-row: 1 / span 2;
  margin: 0 auto;
}

.question-text {
  color: rgb(240, 135, 130);
  font-size: 45px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
}

.synopsis {
  margin: 0 auto;
  font-size: 20px;
  grid-column: 1;
  grid-row: 2;
}

.answer-text ul {
  list-style: none;
  padding: 0;
}

.answer-text button {
  width: 48%;
}

.final-score {
  margin: 0 auto;
  background-color: gray;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  width: 60%;
  height: auto;
}

.func-button button {
  background-color: #faa549ff;
  border: 3px solid darkgray;
  /* added inherit because the buttons would not accept the font family any other way */
  font-family: inherit;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px;
  border-radius: 20px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all
}

.func-button button:hover {
  background-color: rgb(240, 135, 130);
}

.func-button button:active {
  /* Scaling button to 0.98 to its original size */
  transform: scale(0.98);
  /* Lowering the shadow */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* resources page */
.videos-resources {
  display: inline-flex;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.videos {
  margin: 20px;
  justify-content: center;
}