@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  background-color: #141414ff;
  color: #faa549ff;
  margin: 0;
  font-family: 'Comic Neue', cursive;
}

header h1 {
  font-size: 6rem;
}

.header-title {
  margin: 0 auto;
  text-align: center;
}

li {
  color: #faa549ff;

}

nav ul {
  background-color: #373737ff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 12.5rem;
  text-decoration: none;
  font-size: 25px;
}

nav li a:hover {
  display: block;
  color: white;
  background-color: #f2564fff;
  border-radius: 15px;
  text-align: center;
  padding: 16px 12.5rem;
  text-decoration: none;
}

/* quiz page */
.question-card {
  margin: 0 auto;
  background-color: gray;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  width: 90%;
  height: auto;
}

.question-text {
  color: aqua;
  font-size: 24px;
}

.answer-text ul{
  list-style: none;
  padding: 0;
}

.answer-text button {
  background-color: darkgray;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  margin: 8px;
  width: 48%;
}

.final-score {
  margin: 0 auto;
  background-color: gray;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  width: 60%;
  height: auto;
}

.func-button button, Link {
  background-color: #faa549ff;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}


/* resources page */
.videos-resources {
  display: inline-flex;
  text-align: center;
  width: 100%;
  justify-content: space-around;
}

.videos {
  margin: 20px;
  justify-content: center;
}

.videos p {
  width: 550px;
  overflow-wrap: break-word;
  text-align: center;
}