a,
span {
  color: #faa549ff;
}

.videos-resources {
  display: inline-flex;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.videos {
  margin: 20px;
  justify-content: center;
}

@media screen and (max-width: 425px) {
  .videos-resources iframe {
    width: 100%;
  }

}