h2 {
  font-size: 2.8rem;
  text-align: center;
  color: rgb(240, 135, 130);
  background-color: white;
  border: thick double #faa549ff;
  border-radius: 20px;
  padding: 0.625rem;
}

h3, p {
  font-size: 1.25rem;
  text-align: center;
}
.question-card {
  margin: 0 auto;
  background-color: gray;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  width: 90%;
  height: auto;
}

.direction {
  float: right;
}

.question-info {
  display: inline-grid;
  width: 100%;
  grid-template-columns: 1fr 0.75fr;
  grid-template-rows: auto auto;
  column-gap: 0.625rem;
  justify-items: center;
  align-items: center;
}

.question-img {
  width: 350px;
  grid-column: 2/ 3;
  grid-row: 1 / span 2;
}

.question-text {
  grid-column: 1;
  grid-row: 1;
}

.synopsis {
  grid-column: 1;
  grid-row: 2;
}

.answer-text ul {
  list-style: none;
  padding: 0;
}

.answer-text button {
  width: 48%;
}

.final-score {
  width: 60%;
}

@media screen and (orientation: landscape){
  .question-card {
    width: 95%;
  }
  .answer-text button {
    width: 97%;
  }
}

@media screen and (max-width: 768px){
  .question-card {
    width: 95%;
  }
  .answer-text button {
    width: 97%;
  }
}

@media screen and (max-width: 425px) {
  .question-card{
    width: 97%;
  }
  
  .question-info {
    grid-template-rows: 0.25fr 1fr 1fr;
  }

  .question-img {
    grid-column: 1;
    grid-row: 2;
    
  }

  .synopsis {
    grid-row: 3;
  }
}