nav {
  position: fixed;
  top: 0px;
  width: 100%;
  border-bottom: 1.5px dotted #faa549ff;
  background-color: #373737ff;
}
nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

nav li {
  display: block;
  list-style-type: none;
  text-align: center;
  font-size: 1.5625rem;
}

nav li a {
  padding: 1rem 7rem;
  width: 100%;
  text-decoration: none;
}

nav li a:hover {
  background-color: #f08782;
  /* border-radius: 15px; */
}

/* for react router setting of navlink to display differently when active */
.active-nav {
  color: black;
  background-color: #faa549ff;
  /* border-radius: 15px; */
}

/* media queries */

/* tablet size screens */
@media screen and (max-width: 768px) {
  nav ul {
    display: block;
    padding-right: 40px;
  }

  nav li a {
    margin: 10px 0;
    padding: 1rem 2rem;
  }
}
/* phone size screens */
@media screen and (max-width: 428px) {
  nav li a {
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 1rem 3rem;
  }
}